h1 {
  text-align: center;
  border: solid;
  border-color: #000000;
  border-radius: 10px;
}
nav {
  background-color: azure;
  text-align: center;
}
h4 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
body {
  background-color: azure;
}
main {
  background-color: azure;
}
