h1 {
  text-align: center;
}
nav {
  background-color: azure;
  text-align: center;
}
h2 {
  text-align: center;
}
body { 
  background-color: azure;
  font-family: Garamond, serif;
}
main {
  background-color: azure;
}
section {
  text-align: center;
}
a:link {
  color: #0903ab;
  text-decoration: underline;
}
a:active {
  colour: #ff8c00;
  text-decoration: underline;
}
a:vistied {
  color: #5a0080;
.para1 {
top-padding: 200px;
color: red;
