h1 {
  text-align: center;
}
nav {
  background-color: azure;
  text-align: center;
}
h2 {
  text-align: center;
}
body { 
  background-color: azure;
  font-family: "Helvetica", sans-serif;
}
main {
  background-color: azure;
}
section {
  text-align: center;
}
button {
  border: solid 2px;
  border-radius: 5px;
  border-colour: #000000;
  colour: #5d9afc;
}
